<html>
{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'timeline/style.css' %}">
</head>
<body>

<nav class="navbar navbar-light p-3">
    <h1>SameAge</h1>
    <div class="text-end float:right" id="navbarNav">
        <a class="link" href="/admin" target="_blank">Admin</a>
        <a class="link" href="/autoimport" target="_blank">Import</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row sticky-top header-row">
        <div class="col">
            <h2>Age</h2>
        </div>
        {% for person in persons %}
        <div class="col-5 text-center text-capitalize">
            <h2>{{ person.name }}</h2>
        </div>
        {% endfor %}
    </div>

    {% for weeks, group in data.items %}
    <div class="row photo-row">
        <div class="col-2">
            <h3 class="sticky-top">{{ group.age_string }}</h3>
        </div>
        <div class="col-5 image-gallery">
            {% for image in group.c1 %}
            <div class="thumbnail-container">
                <img class="lazy-load"
                     data-src="{% static 'photos/images/'|add:image.file_name %}" alt="{{ image.file_name }}"
                     onmouseover="showImage(this,
                                    '{% static 'photos/images/'|add:image.file_name %}',
                                    '{{image.person.name}}: {{image.capture_date}}')"
                     onmouseout="hideImage(this)">
            </div>
            {% endfor %}
        </div>
        <div class="col-5 image-gallery">
            {% for image in group.c2 %}
            <div class="thumbnail-container">
                <img class="lazy-load"
                     data-src="{% static 'photos/images/'|add:image.file_name %}" alt="{{ image.file_name }}"
                     onmouseover="showImage(this,
                                    '{% static 'photos/images/'|add:image.file_name %}',
                                    '{{image.person.name}}: {{image.capture_date}}')"
                     onmouseout="hideImage(this)">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>

</body>
<script src="{% static 'timeline/timeline.js' %}"></script>

</html>


